{% extends "base.html" %}
{% block title %}Store
{% endblock %}
{% block content %}
<div class="container">
  <div class="container">
    <div class="row">
      <div class="album py-5">
        <div class="pb-3">
          <h1 class="h3">Popular</h1>
        </div>
        {% if not products %}
        <div class="col-12">There are currently no products active</div>
          {% else %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% for product in products %}
          <div class="col">
            <div class="card" style="border: 1px #b7b5b5 solid">
              <div style="height: 250px; width: 150px; margin-top: 10px"><img style="margin-left: 7px" class="img-fluid" alt="Responsive image" src="{{ product.image.url }}"></div>
              <div class="card-body px-0" style="margin-left: 20px">
                <p class="card-text">
                  <a class="text-dark text-decoration-none"
                    href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                </p>
                <div class="fw-bold">£{{product.price}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}